name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install JUCE Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y freeglut3-dev
          sudo apt-get install -y g++
          sudo apt-get install -y libasound2-dev
          sudo apt-get install -y libcurl4-openssl-dev
          sudo apt-get install -y libfreetype6-dev
          sudo apt-get install -y libjack-jackd2-dev
          sudo apt-get install -y libx11-dev
          sudo apt-get install -y libxcomposite-dev
          sudo apt-get install -y libxcursor-dev
          sudo apt-get install -y libxinerama-dev
          sudo apt-get install -y libxrandr-dev
          sudo apt-get install -y mesa-common-dev

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run integration tests
        run: pnpm run test:integration
